<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<!-- 该mapper用于对请假条的提交与审批操作 -->

<mapper namespace="com.boot.mapper.JiaTiaoMapper">

    <insert id="insertJt" parameterType="JiaTiao" useGeneratedKeys="true" keyProperty="jt_id">
        insert into t_jiatiao(jt_start_time,jt_end_time,jt_reason,jt_tel,jt_state,department,classname,xs_realname,xs_acc_username)
        VALUES(#{jt_start_time},#{jt_end_time},#{jt_reason},#{jt_tel},#{jt_state},#{department},#{className},#{xs_realName},#{xs_acc_username})
    </insert>

    <update id="updateJt" parameterType="JiaTiao">
        update t_jiatiao set
        jt_state =#{jt_state},
        jt_note = #{jt_note},
        fd_acc_username = #{fd_acc_username},
        fd_realname = #{fd_realName}
            where
                jt_id = #{jt_id}
    </update>

    <resultMap id="JiaTiaoMap" type="JiaTiao">
        <result column="jt_id" property="jt_id"/>
        <result column="jt_start_time" property="jt_start_time"/>
        <result column="jt_end_time" property="jt_end_time"/>
        <result column="jt_reason" property="jt_reason"/>
        <result column="jt_tel" property="jt_tel"/>
        <result column="department" property="department"/>
        <result column="jt_state" property="jt_state"/>
        <result column="classname" property="className"/>
        <result column="xs_realname" property="xs_realName"/>
        <result column="xs_acc_username" property="xs_acc_username"/>
        <result column="fd_realname" property="fd_realName"/>
        <result column="fd_acc_username" property="fd_acc_username"/>
        <result column="jt_note" property="jt_note"/>
    </resultMap>

      <select id="selectJtByJtId" resultMap="JiaTiaoMap">
    select * from  t_jiatiao where jt_id = #{jt_id}
</select>

    <select id="selectJtListByUsername"  resultMap="JiaTiaoMap">
        select * from t_jiatiao where xs_acc_username = #{xs_acc_username} order by jt_id desc
    </select>

    <select id="selectJtListByDepartment" parameterType="String" resultMap="JiaTiaoMap">
        select * from t_jiatiao where department = #{department}  order by jt_id desc
    </select>

    <select id="selectJtListSelective" resultMap="JiaTiaoMap">
        select * from t_jiatiao <where>
        <if test="jt_start_time != null">jt_start_time <![CDATA[>=]]> #{jt_start_time}</if>
        <if test="jt_end_time != null">AND jt_end_time <![CDATA[<=]]>#{jt_end_time}</if>
        <if test="jt_state != null">and  jt_state = #{jt_state}</if>
         <if test="department != null">and department = #{department}</if>
        <if test="className != null">and classname = #{className} </if>
    </where>
        order by jt_id desc
    </select>

    <select id="CountQingJiaXs" resultType="Integer">
        select count(*) from t_jiatiao <where>
        <if test="jt_start_time != null">jt_start_time <![CDATA[>=]]> #{jt_start_time}</if>
        <if test="jt_end_time != null">AND jt_end_time <![CDATA[<=]]>#{jt_end_time}</if>
        <if test="jt_state != null">and  jt_state = #{jt_state}</if>
        <if test="department != null">and department = #{department}</if>
        <if test="className != null">and classname = #{className} </if>
    </where>
        order by jt_id desc
    </select>

</mapper>