<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.boot.mapper.StudentMapper">

<!-- 该mapper用于CRUD学生的信息 -->

    <insert id="insertStudent" parameterType="Student" useGeneratedKeys="true" keyProperty="xs_id">
        insert into t_xuesheng(xs_realname, department,classname, xs_gender, acc_id,acc_username) values
        (#{xs_realName},#{department},#{className},#{xs_gender},#{acc_id},#{acc_username})
    </insert>

<resultMap id="StudentMap" type="Student">
    <result column="xs_id" property="xs_id"/>
    <result column="acc_id" property="acc_id"/>
    <result column="xs_realname" property="xs_realName"/>
    <result column="xs_gender" property="xs_gender"/>
    <result column="department" property="department"/>
    <result column="classname" property="className"/>
    <result column="acc_username" property="acc_username"/>
</resultMap>

<select id="selectStudentByUsername" parameterType="String" resultMap="StudentMap">
    select * from t_xuesheng where acc_username = #{acc_username}
</select>

<select id="selectXsList" resultMap="StudentMap">
    select * from t_xuesheng
<where>
    <if test="acc_username != null">and  acc_username = #{acc_username}</if>
    <if test="xs_gender != null">and  xs_gender = #{xs_gender}</if>
    <if test="department != null">and department = #{department}</if>
    <if test="className != null">and classname = #{className} </if>
</where>
</select>
</mapper>